
body{
    background-color: black;
}

#header-section{
    height: 100vh;


}

.caja-icon{
    padding: 10px 175px;
    background-color: #47dde5;
}

.caja-icon i{
    color: #ffffff;
}

.section-text h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    justify-content: center;

}

.section-text hr{
    background-color:#47dde5;
    height: 2px;
    width: 100%;
}
#parrafos{
    background-color: black;
}
.parrafos{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.col-4{
    padding: 20px 50px;
    justify-content: center;

}

hr{
    background-color:#47dde5;
    height: 2px;
    width: 100%;
}

#cards{
    background-color: black;
padding-bottom: 200px;
}

#cards hr{
    background-color:#47dde5;
    height: 2px;

}

#cards h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    justify-content: center;

}

.card-body{
    background-color: #47dde5;
}

#contacto{
    background-color: black;
}

#contacto h1{
    color: #ffffff;
    font-weight: 400;
    font-family:'Open Sans', sans-serif ;
}

.typeform-widget{
    padding-left: 100px;
    padding-right: 100px;
}

.card{
    padding-left: 50px;
    background-color: black;
}

.card-body{
    color: #ffffff;
    font-weight: 300;
    font-family:'Open Sans', sans-serif ;

}

#footer{
    background-color: #47dde5;
}

#footer h2{

    font-family:'Open Sans', sans-serif ;
}